<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>



    <div cl
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 ">
          <% for (var i=0; i<team.length; i++) { %>
              <img src="<%= team[i].picUrl %>" alt="" class="img-responsive">
              <h3><%= team[i].name %> </h3>
              <h4><%= team[i].role %> </h2>
              <p><%= team[i].bio %></p>
          <% } %>
        </div>
    </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>
</html>


<!-- <div class="col-sm-6 col-md-4">
    <div class="team_sections fadeindown">
      <img alt="" src="img/team/team1.jpg" class="th">
      <h5>
        <span>Mila Novak</span>
      </h5>
      <p>
        <small class="muted">- DESIGNER - </small>
      </p>
      <p class="team_bio">
        Praesent vestibulum taciti sociosqu ad litora molestie. Aenean hendrerit mauris phasellus porta. Fusce suscipit varius mi lorem.
      </p>
      <hr class="team-line">
      <a href="#" class="zocial icon twitter team_ic"></a>
      <a href="#" class="zocial icon facebook team_ic"></a>
      <a href="#" class="zocial icon dribbble team_ic"></a>
      </div>
      <div class="pad15"></div>
    </div> -->
